
*{
    padding:0px;
    margin:0px;   
}

.login {
    margin-left: 10px;
	-moz-box-shadow: 3px 4px 0px 0px #96a5f2;
	-webkit-box-shadow: 3px 4px 0px 0px #96a5f2;
	box-shadow: 3px 4px 0px 0px #96a5f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6699f2), color-stop(1, #517fb8));
	background:-moz-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-webkit-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-o-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-ms-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:linear-gradient(to bottom, #6699f2 5%, #517fb8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699f2', endColorstr='#517fb8',GradientType=0);
	background-color:#82a2db;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #5a75c7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:8px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.login:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #517fb8), color-stop(1, #6699f2));
	background:-moz-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-webkit-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-o-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-ms-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:linear-gradient(to bottom, #517fb8 5%, #6699f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#517fb8', endColorstr='#6699f2',GradientType=0);
    background-color:#517fb8;
    text-decoration: none;
}
.login:active {
	position:relative;
	top:1px;
}



.creat {
    margin-left: 990px;
	-moz-box-shadow: 3px 4px 0px 0px #96a5f2;
	-webkit-box-shadow: 3px 4px 0px 0px #96a5f2;
	box-shadow: 3px 4px 0px 0px #96a5f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6699f2), color-stop(1, #517fb8));
	background:-moz-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-webkit-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-o-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-ms-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:linear-gradient(to bottom, #6699f2 5%, #517fb8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699f2', endColorstr='#517fb8',GradientType=0);
	background-color:#6699f2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #5a75c7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:8px 7px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    
}
.creat:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #517fb8), color-stop(1, #6699f2));
	background:-moz-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-webkit-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-o-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-ms-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:linear-gradient(to bottom, #517fb8 5%, #6699f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#517fb8', endColorstr='#6699f2',GradientType=0);
    background-color:#517fb8;
    text-decoration: none;
}



.form-container {
	border: 1px solid #B1C8E1;
	background: #758596;
	background: -webkit-gradient(linear, left top, left bottom, from(#B1C8E1), to(#758596));
	background: -webkit-linear-gradient(top, #B1C8E1, #758596);
	background: -moz-linear-gradient(top, #B1C8E1, #758596);
	background: -ms-linear-gradient(top, #B1C8E1, #758596);
	background: -o-linear-gradient(top, #B1C8E1, #758596);
	background-image: -ms-linear-gradient(top, #B1C8E1 0%, #758596 100%);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	text-decoration: none;
	vertical-align: middle;
	min-width:300px;
	padding:20px;
	width:330px;
	}
 .form-field {
	border: 2px solid #758596;
	background: #E5EEF7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #758596;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding:8px;
	margin-bottom:20px;
	width:288px;
	}
 .form-field:focus {
	background: #fff;
	color: #324861;
	}
 .form-container strong {
	text-shadow: #CEE7F1 0 1px 0;
	font-size:18px;
	margin: 0 0 10px 0;
	font-weight:bold;
	text-align:center;
	 }
 .form-title,.feild-title-a,.field-title-b {
	margin-bottom:10px;
	color: #324861;
	text-shadow: #CEE7F1 0 1px 0;
	}
 

.creat:active {
	position:relative;
	top:1px;
}



.navbar{
	padding-top: 0;
    background-image:linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(0, 255, 200, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 0, 0, 0.247), rgb(211, 201, 201) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.61), rgba(0,0,255,0) 70.71%);
}

.navbar .navbar-nav{
    color: black;
}

.nav-item{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

.navbar{
    background-image:linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(0, 255, 200, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 0, 0, 0.247), rgb(211, 201, 201) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.61), rgba(0,0,255,0) 70.71%);
}

.navbar .navbar-nav{
    color: black;
}

span{
    color: white;
}

.bottom{
	margin-top: -17px;

    background-image:linear-gradient(217deg, rgba(109, 123, 129, 0.8), rgba(0, 255, 200, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 0, 0, 0.247), rgb(211, 201, 201) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.61), rgba(0,0,255,0) 70.71%);
    height: 150px;
}
.page{
    display: flex; 
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#ti tre{
    width: 50%;
    height: 50px;
}
#titre h1{
    color: rgba(0, 0, 0, 0.459);
    font-family: 'Merriweather', serif;	
}
.contenu{
	height: 59%;
	font-family: 'Merriweather', serif;	
	background-image:linear-gradient(217deg, rgba(0, 60, 255, 0.8), rgba(0, 255, 200, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 0, 0, 0.247), rgb(211, 201, 201) 70.71%),
    linear-gradient(336deg, rgba(0, 255, 128, 0.61), rgba(0, 255, 170, 0) 70.71%);
}

