
*{
    padding:0px;
    margin:0px;   
}


.login {
    margin-left: 920px;
	-moz-box-shadow: 3px 4px 0px 0px #96a5f2;
	-webkit-box-shadow: 3px 4px 0px 0px #96a5f2;
	box-shadow: 3px 4px 0px 0px #96a5f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6699f2), color-stop(1, #517fb8));
	background:-moz-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-webkit-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-o-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-ms-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:linear-gradient(to bottom, #6699f2 5%, #517fb8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699f2', endColorstr='#517fb8',GradientType=0);
	background-color:#6699f2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #5a75c7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding:8px 40px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    letter-spacing: 2px;
   }
.login:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #517fb8), color-stop(1, #6699f2));
	background:-moz-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-webkit-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-o-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-ms-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:linear-gradient(to bottom, #517fb8 5%, #6699f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#517fb8', endColorstr='#6699f2',GradientType=0);
	background-color:#517fb8;
}
.login:active {
	position:relative;
	top:1px;
}






.creat {
    margin-left: 10px;
	-moz-box-shadow: 3px 4px 0px 0px #96a5f2;
	-webkit-box-shadow: 3px 4px 0px 0px #96a5f2;
	box-shadow: 3px 4px 0px 0px #96a5f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6699f2), color-stop(1, #517fb8));
	background:-moz-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-webkit-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-o-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:-ms-linear-gradient(top, #6699f2 5%, #517fb8 100%);
	background:linear-gradient(to bottom, #6699f2 5%, #517fb8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699f2', endColorstr='#517fb8',GradientType=0);
	background-color:#6699f2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #5a75c7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding:8px 7px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    letter-spacing: 2px;
    
}
.creat:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #517fb8), color-stop(1, #6699f2));
	background:-moz-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-webkit-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-o-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:-ms-linear-gradient(top, #517fb8 5%, #6699f2 100%);
	background:linear-gradient(to bottom, #517fb8 5%, #6699f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#517fb8', endColorstr='#6699f2',GradientType=0);
	background-color:#517fb8;
}
.creat:active {
	position:relative;
	top:1px; 
}



 

.navbar{
    background-image:linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(0, 255, 200, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 0, 0, 0.247), rgb(211, 201, 201) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.61), rgba(0,0,255,0) 70.71%);
}

.navbar .navbar-nav{
    color: black;
}

.nav-item{
    color: white;
    font-family:  'Amatic SC', cursive;
    letter-spacing: 2px;
    font-size: 25px;
}

.navbar{
    background-image:linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(0, 255, 200, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 0, 0, 0.247), rgb(211, 201, 201) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.61), rgba(0,0,255,0) 70.71%);
}

.navbar .navbar-nav{
    color: black;
}

span{
    margin-left: 10px;
    color: white;
}

.im{
    margin-top: 30px;
    margin-left: 30px;
}

.bottom{
    margin-top: -16px;
    background-image:linear-gradient(217deg, rgba(109, 123, 129, 0.8), rgba(0, 255, 200, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 0, 0, 0.247), rgb(211, 201, 201) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.61), rgba(0,0,255,0) 70.71%);
}
.page{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#titre{
    width: 50%;
    height: 50px;
    margin: 30px 0px 0px 350px;
}
#titre h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 0, 0, 0.651);
    border: 1px solid black;
}
.contenu{
    width: 100%;
    height: 50%;
}
.box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    background-color: rgba(0, 13, 20, 0.863);
}
.in-box1{
    width: 600px;
    height: 500px;
    padding: 100px 0px 0px 100px;
}
#title{
    width: 200px;
    height: 60px;
    margin: 90px 0px 0px 260px;
}
#title h1{
    color: #6699f2;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}  
.parag{
    width: 400px;
    height: 250px;
    padding: 20px 0px 0px 20px;
    margin-left: 150px;
   
}

@-webkit-keyframes example {
  0%   {color: whitesmoke;}
  25%  {color: rgba(255, 255, 79, 0.527);}
  50%  {color: rgba(119, 181, 253, 0.63);}
  100% {color: rgba(187, 93, 6, 0.637);}
 
}

/* Standard syntax */
@keyframes example {
    00%   {color: whitesmoke;}
  25%  {color: rgba(255, 255, 79, 0.527)}
  50%  {color: rgba(119, 181, 253, 0.63);}
  100% {color: rgba(187, 93, 6, 0.637)}
}
   
.parag p{
    line-height: 30px;
    font-size: 15px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    letter-spacing: 1px;
    color: whitesmoke;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.box1{
    width: 100%;
    height: 400px;
    background-color: #000000
}
.in-box{
    background-image:linear-gradient(217deg, rgba(0, 174, 255, 0.8), rgba(0, 255, 200, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 0, 0, 0.247), rgb(211, 201, 201) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.61), rgba(0,0,255,0) 70.71%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 400px;
}
.cadre1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    height: 100px;
    padding-top: 60px;
}
#titre1{
    width: 450px; 
    height: 40px;
    margin-right: 20px;
      
}
#titre1 h3 {
    font-family: 'Amatic SC', cursive;
    color: red;
    text-decoration: underline;
    letter-spacing: 1px;
}
.media{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;
    justify-content: space-evenly;
}
.in-media{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;
}
.cadre3 {
    width: 400px;
    height: 300px;
    margin-top: 70px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-style: bold;
    color: black;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.cadre2{
    margin: 50px 0px 0px 0px;
    width: 560px;
    height: 310px;
}
#right{
    padding-top: 30px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(122, 122, 122);
    letter-spacing: 2px;
    margin-left: 600px;
}
#right:hover{
    text-decoration: underline;
    color: rgba(0, 10, 145, 0.87);
}

